@import "../../styles/breakpoints";
@import "../../styles/variables";

.navigationContainer {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: $background-color;

  .navigation {
    display: flex;
    align-items: center;
    padding: 1.5rem 2rem;
    justify-content: space-between;
    height: 52px;

    @include bp(m) {
      padding: 1.5rem 5rem;
    }

    .searchContainerMobile {
      display: flex;
      position: relative;
      border-radius: 2rem;
      background-color: $foreground-color;
      display: flex;
      align-items: center;
      box-shadow: 5px 5px 10px $box-shadow-darker,
        -5px -5px 10px $foreground-color;

      @include bp(m) {
        display: none;
      }

      &.searchVisible {
        margin-right: 1.5rem;
        width: 80%;
        border-radius: 1rem;
      }

      .searchInput {
        display: none;

        &.searchVisible {
          padding-left: 2.5rem;
          display: inline-block;
          position: absolute;
        }
      }
    }

    .logoContainer {
      display: flex;
      align-items: center;

      &.searchVisible {
        display: none;
      }

      @include bp(m) {
        display: block;
        width: 60%;

        &.searchVisible {
          display: block;
        }
      }

      .logoText {
        font-size: 2rem;
        font-weight: bold;
        color: $color-dark;
      }
    }

    .navigationItems {
      display: flex;
      justify-content: flex-end;

      @include bp(m) {
        width: 40%;
      }

      .searchContainer {
        display: none;

        @include bp(m) {
          position: relative;
          border-radius: 1rem;
          background-color: $foreground-color;
          display: flex;
          align-items: center;
          padding: 0 0.75rem;
          margin-right: 1.5rem;
          min-width: 18.75rem;
          box-shadow: 5px 5px 10px $box-shadow-lighter,
            -5px -5px 10px $foreground-color;
        }

        &:hover {
          background-color: $foreground-color;
        }

        .searchInput {
          padding-left: 0.5rem;

          &:global(.MuiInputBase-input) {
            padding: 1rem;
            width: 100%;
          }
        }
      }
    }

    .userBox {
      display: flex;

      .userIconButton {
        padding: 0 !important;
        box-shadow: 5px 5px 10px $box-shadow-lighter,
          -5px -5px 10px $foreground-color;
      }
    }
  }
}
